# Pulumi
.pulumi/
Pulumi.*.yaml
!Pulumi.yaml

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
.env
.venv

# IDE files
.idea/
.vscode/
*.swp
*.swo 